OPENAI_API_KEY=TBS
OPENAI_ORGANIZATION=TBS

# dev.yaml
# SELFDEV_API_URL=http://localhost:6368/v1
# SELFDEV_API_KEY=TBS

# prod.yaml
# SELFDEV_API_URL=http://localhost:6369/v1
# SELFDEV_API_KEY=TBS

# PROD
SELFDEV_API_URL=https://api.selfdev.vuics.com/v1
SELFDEV_API_KEY=TBS
